<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/baseLayout}">}">
    <head>
    </head>
    <body>
        <aside th:fragment="nav">
            <ul>
                <li id="home">
                    <a th:href="@{/}">
                        <img th:src="@{/images/home.png}" width="75%" height="30%" th:title="#{Form.Home}">
                    </a>
                </li>
                <li id="sales-order">
                    <a th:href="@{/salesOrder}">
                        <img th:src="@{/images/salesorder.png}" width="75%" height="30%" th:title="#{Form.SalesOrder}">
                    </a>
                </li>
                <li id="sales-person">
                    <a th:href="@{/salesPerson}">
                        <img th:src="@{/images/salesperson.png}" width="75%" height="30%" th:title="#{Form.SalesPerson}">
                    </a>
                </li>
                <li id="customer">
                    <a th:href="@{/customer}">
                        <img th:src="@{/images/customer.png}" width="75%" height="30%" th:title="#{Form.Customer}">
                    </a>
                </li>
                <li id="item">
                    <a th:href="@{/item}">
                        <img th:src="@{/images/item.png}" width="75%" height="30%" th:title="#{Form.Item}">
                    </a>
                </li>
                <li id="user">
                    <a th:href="@{/user}">
                        <img th:src="@{/images/user.png}" width="75%" height="30%" th:title="#{Form.User}">
                    </a>
                </li>
            </ul>
        </aside>
    </body>
</html>

